/* flex */
.row { display: flex; }
.flex-inline { display: inline-flex }

.column { display: flex; flex-direction: column; }
.flex-wrap { flex-wrap: wrap; }
.flex-nowrap { flex-wrap: nowrap; }

.col { flex: 1 0 0; }
.col-1 { flex: 0 0 calc(100%/12); max-width: calc(100%/12); }
.col-2 { flex: 0 0 calc((100%/12)*2); max-width: calc((100%/12)*2); }
.col-3 { flex: 0 0 calc((100%/12)*3); max-width: calc((100%/12)*3); }
.col-4 { flex: 0 0 calc((100%/12)*4); max-width: calc((100%/12)*4); }
.col-5 { flex: 0 0 calc((100%/12)*5); max-width: calc((100%/12)*5); }
.col-6 { flex: 0 0 calc((100%/12)*6); max-width: calc((100%/12)*6); }
.col-7 { flex: 0 0 calc((100%/12)*7); max-width: calc((100%/12)*7); }
.col-8 { flex: 0 0 calc((100%/12)*8); max-width: calc((100%/12)*8); }
.col-9 { flex: 0 0 calc((100%/12)*9); max-width: calc((100%/12)*9); }
.col-10 { flex: 0 0 calc((100%/12)*10); max-width: calc((100%/12)*10); }
.col-11 { flex: 0 0 calc((100%/12)*11); max-width: calc((100%/12)*11); }
.col-12 { flex: 0 0 calc((100%/12)*12); max-width: calc((100%/12)*12); }

.flex-1 { flex: 1 1 0%; }
.flex-2 { flex: 2 1 0%; }
.flex-3 { flex: 3 1 0%; }
.flex-4 { flex: 4 1 0%; }
.flex-5 { flex: 5 1 0%; }
.flex-6 { flex: 6 1 0%; }
.flex-7 { flex: 7 1 0%; }
.flex-8 { flex: 8 1 0%; }
.flex-9 { flex: 9 1 0%; }
.flex-10 { flex: 10 1 0%; }
.flex-11 { flex: 11 1 0%; }
.flex-12 { flex: 12 1 0%; }

/* justify content */
.justify-start { justify-content: flex-start; }
.justify-end { justify-content: flex-end; }
.justify-center { justify-content: center; }
.justify-between { justify-content: space-between; }
.justify-around { justify-content: space-around; }
.justify-evenly { justify-content: space-evenly; }

/* align content */
.content-start { align-content: flex-start; }
.content-end { align-content: flex-end; }
.content-center { align-content: center; }
.content-between { align-content: space-between; }
.content-around { align-content: space-around; }
.content-evenly { align-content: space-evenly; }
.content-stretch { align-content: stretch; }

/* align items  */
.item-start { align-items: flex-start; }
.item-end { align-items: flex-end; }
.item-center { align-items: center; }
.item-stretch { align-items: stretch; }
.item-baseline { align-items: baseline; }

/* text property */
.text-center { text-align: center; }
.text-end { text-align: end; }
.text-start { text-align: start; }

/* grow and shrink */
.grow { flex-grow: 1; }
.shrink { flex-shrink: 1; }

/* display type */
.d-block{ display: block; }
.d-inline-block{ display: inline-block; }

/* gap  */
.g-1 { gap: .25rem; }
.g-2 { gap: .5rem; }
.g-3 { gap: .75rem; }
.g-4 { gap: 1rem; }
.g-5 { gap: 1.25rem; }
.g-6 { gap: 1.5rem; }
.g-7 { gap: 2rem; }
.g-8 { gap: 3rem; }
.g-9 { gap: 4rem; }

.gx-0 { row-gap: 0; }
.gx-1 { row-gap: .25rem; }
.gx-2 { row-gap: .5rem; }
.gx-3 { row-gap: .75rem; }
.gx-4 { row-gap: 1rem; }
.gx-5 { row-gap: 1.25rem; }
.gx-6 { row-gap: 1.5rem; }
.gx-7 { row-gap: 2rem; }
.gy-0 { column-gap: 0; }

.gy-1 { column-gap: .25rem; }
.gy-2 { column-gap: .5rem; }
.gy-3 { column-gap: .75rem; }
.gy-4 { column-gap: 1rem; }
.gy-5 { column-gap: 1.25rem; }
.gy-6 { column-gap: 1.5rem; }
.gy-7 { column-gap: 2rem; }

/* positions */
.relative { position: relative; }
.absolute { position: absolute; }